{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-expand site-navbar navbar-light bg-light" id="pb-navbar">

        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-project">Project</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-resume">Resume</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>


    {% for person in data %}
    <section class="site-hero" style="background-image: url({{ person.image.url }});" id="section-home"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row intro-text align-items-center justify-content-center position-relative">
                <div class="col-md-10 text-center pt-5">
                    <h1 class="site-heading">Hello, I'm <strong class="d-block">{{ person.name }}</strong>
                    </h1>
                    <h2>{{person.position}}</h2>
                    <strong class="d-block text-white text-uppercase letter-spacing">and this is My Resume</strong>
                </div>
            </div>
        </div>
    </section> <!-- section -->
    {% endfor %}

    <section class="site-section" id="section-project">
        <div class="container">
            <div class="row">
                <div class="section-heading text-center col-md-12">
                    <h2>Featured <strong>Projects</strong></h2>
                </div>
            </div>
            <div class="filters">
                <ul>
                    <li class="active">All</li>
                    <li>HTML & CSS</li>
                    <li>Javascript</li>
                    <li>PHP</li>
                </ul>
            </div>

            <div class="filters-content">
                <div class="row grid">
                    <div class="single-portfolio col-sm-4 all mockup">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="{%static 'images/p1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="p-inner">
                            <h4>Login Form</h4>
                            <p class="language">HTML & CSS</p>
                            <a target="_blank" href="https://css.amardeepdev.com/formDesign">View Details</a>
                            <a target="_blank" class="ms-3"
                                href="https://amardeepdev.com/project-details.php?proj=formDesign">View
                                Live</a>
                        </div>
                    </div>

                    <div class="single-portfolio col-sm-4 all mockup">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="{%static 'images/p2.png' %}" alt="">
                            </div>
                        </div>
                        <div class="p-inner">
                            <h4>Chatting Application</h4>
                            <p class="language">JS, PHP</p>
                            <a target="_blank" href="https://chat.amardeepdev.com">View Details</a>
                            <a target="_blank" class="ms-3"
                                href="https://amardeepdev.com/project-details.php?proj=chat">View
                                Live</a>
                        </div>
                    </div>

                    <div class="single-portfolio col-sm-4 all mockup">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="{%static 'images/p3.png' %}" alt="">
                            </div>
                        </div>
                        <div class="p-inner">
                            <h4>NotePad</h4>
                            <p class="language">JS, PHP</p>
                            <a target="_blank" href="https://notepad.amardeepdev.com">View Details</a>
                            <a target="_blank" class="ms-3"
                                href="https://amardeepdev.com/project-details.php?proj=notepad">View
                                Live</a>
                        </div>
                    </div>

                    <div class="single-portfolio col-sm-4 all mockup">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="{%static 'images/p4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="p-inner">
                            <h4>Alarm Clock</h4>
                            <p class="language">JS</p>
                            <a target="_blank" href="https://alarm.amardeepdev.com">View Details</a>
                            <a target="_blank" class="ms-3"
                                href="https://amardeepdev.com/project-details.php?proj=alarm">View
                                Live</a>
                        </div>
                    </div>

                    <div class="single-portfolio col-sm-4 all mockup">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="{%static 'images/p5.png' %}" alt="">
                            </div>
                        </div>
                        <div class="p-inner">
                            <h4>Number Guessing Game</h4>
                            <p class="language">JS</p>
                            <a target="_blank" href="https://www.jsgames.amardeepdev.com/NumberGuessingGame">View
                                Details</a>
                            <a target="_blank" class="ms-3"
                                href="https://amardeepdev.com/project-details.php?proj=numberGuess">View
                                Live</a>
                        </div>
                    </div>

                    <div class="single-portfolio col-sm-4 all mockup">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="{%static 'images/p6.png' %}" alt="">
                            </div>
                        </div>
                        <div class="p-inner">
                            <h4>Rock Paper Scissor Game</h4>
                            <p class="language">JS</p>
                            <a target="_blank" href="https://www.jsgames.amardeepdev.com/RockPaperScissor">View
                                Details</a>
                            <a target="_blank" class="ms-3"
                                href="https://amardeepdev.com/project-details.php?proj=rockPaperScissor">View
                                Live</a>
                        </div>
                    </div>

                    <div class="single-portfolio col-sm-4 all mockup">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="{%static 'images/p7.png' %}" alt="">
                            </div>
                        </div>
                        <div class="p-inner">
                            <h4>Custom Context Menu</h4>
                            <p class="language">JS</p>
                            <a target="_blank" href="https://right-click.amardeepdev.com">View
                                Details</a>
                            <a target="_blank" class="ms-3"
                                href="https://amardeepdev.com/project-details.php?proj=right-click">View
                                Live</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="site-section " id="section-resume">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="section-heading text-center">
                        <h2>My <strong>Resume</strong></h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-5">Education</h2>
                    {% for education in educations %}
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span>{{education.start_month_year}} - {{education.end_month_year}}</span>
                        <h3>{{education.course_name}}</h3>
                        <span class="school">{{education.Institue_name}}</span>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="col-md-6">
                    <h2 class="mb-5">Experience</h2>
                    {% for experience in experiences %}
                    <div class="resume-item mb-4 position-relative">
                        <span class="date"><span class="icon-calendar"></span>{{experience.start_month_year}} - {{experience.end_month_year}}</span>
                        <h3>{{experience.position}}</h3>
                        <span class="school">{{experience.company_name}}, {{experience.company_location}}</span>
                        <span class="job-type badge">{{experience.job_type}}</span>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </section>
     <!-- .section -->
    {% for person in data %}
    <section class="site-section" id="section-about">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                    <img src="{{ person.image.url }}" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="col-lg-5 pl-lg-5">
                    <div class="section-heading">
                        <h2>About <strong>Me</strong></h2>
                    </div>
                    <p class="lead">
                        {{ person.about_me}}
                    </p>

                    <p>
                        <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a>
                        <a href="{{ person.resume_file.url }}" class="btn btn-secondary px-4 py-2 btn-sm">Download Resume</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

    <section class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="section-heading text-center">
                        <h2>Client <strong>Testimonial</strong></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for testimonial in testimonials %}
                <div class="col-md-6">
                    <div class="block-47 d-flex mb-5">
                        <div class="block-47-image">
                            <img src="{{testimonial.image.url}}" alt="Image placeholder" class="img-fluid">
                        </div>
                        <blockquote class="block-47-quote">
                            <p>&ldquo;{{testimonial.message}}&rdquo;</p>
                            <p><span class="text-warning">@{{testimonial.name}}</span></p>
                            <cite class="block-47-quote-author">&mdash; <span class="text-warning">@{{testimonial.compnay_position}}</span></cite>
                        </blockquote>
                    </div>
                </div>
                    {% endfor %}
            </div>
        </div>
    </section>


    <section class="site-section pb-0" id="section-services">
        <div class="container">

            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="section-heading text-center">
                        <h2>My <strong>Services</strong></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in services%}
                <div class="col-md-6 col-lg-4 text-center mb-5">
                    <div class="site-service-item rounded">
                        <span class="icon">
                            <span class="{{service.service_icon}}"></span>
                        </span>
                        <h3 class="mb-4">{{service.service_title}}</h3>
                        <p>{{service.service_desc}}</p>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </section>


    <section class="site-section" id="section-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="section-heading text-center">
                        <h2>Get <strong>In Touch</strong></h2>
                    </div>
                </div>

                <div class="col-md-7 mb-5 mb-md-0">
                    <form action="" class="site-form">
                        <h3 class="mb-5">Get In Touch</h3>
                        <div class="form-group mb-2">
                            <input type="text" class="form-control px-3 py-4" placeholder="Your Name">
                        </div>
                        <div class="form-group mb-2">
                            <input type="email" class="form-control px-3 py-4" placeholder="Your Email">
                        </div>
                        <div class="form-group mb-2">
                            <input type="email" class="form-control px-3 py-4" placeholder="Your Phone">
                        </div>
                        <div class="form-group mb-5">
                            <textarea class="form-control px-3 py-4" cols="30" rows="10"
                                placeholder="Write a Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary  px-4 py-3" value="Send Message">
                        </div>
                    </form>
                </div>
                <div class="col-md-5 pl-md-5">
                    <h3 class="mb-5">My Contact Details</h3>
                    <ul class="site-contact-details">
                        <li>
                            <span class="text-uppercase">Email</span>
                            <a href="mailto:amardeep10as@gmail.com">amardeep10as@gmail.com</a>
                        </li>
                        <li>
                            <span class="text-uppercase">Phone</span>
                            <a href="tel:+977 9809161011">+977 9809161011</a>
                        </li>
                        <li>
                            <span class="text-uppercase">Address</span>
                            Rajaul Chowk <br>
                            JanankpurDham Nepal
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <footer class="site-footer">
        <div class="container">

            <div class="row mb-5">
                <p class="col-12 text-center">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Developed and
                    Maintain By <strong>Amardeep Kumar Soni</strong>
                </p>
            </div>

            <div class="row mb-5">
                <div class="col-md-12 text-center">
                    <p>
                        <a href="#" class="social-item"><span class="fa-brands fa-facebook"></span></a>
                        <a href="#" class="social-item"><span class="fa-brands fa-twitter"></span></a>
                        <a href="#" class="social-item"><span class="fa-brands fa-linkedin"></span></a>
                        <a href="#" class="social-item"><span class="fa-brands fa-instagram"></span></a>
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <div>
        <div class="circlee">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>